<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Label Printer - Prints</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/bs.css">

	<style>
		.preview {
			position: absolute;
			top: 8px;
			right: 8px;
			max-width: 20%;
			max-height: 40%;
			border-color: #800080;
			border-width: 2px;
			border-style: dashed;
		}
		
		.preview:hover {
			max-height: 100%;
			max-width: 100%;
			top: 0px;
			right: 0px;
			position: absolute;
		}

		.card {
			border-radius: 15px;
		}
	</style>
</head>

<body>
	<div class="container text-center mt-5">
		<h1><a href="/">Label Printer</a> - Prints</h1>
		<p class="lead">List of public prints ({{ .Limit }} / {{ .Total }})</p>
		<hr>

        <div class="row">
			{{ range .Images }}
	            <div class="col-md-4 mt-4">
					<div class="card" style="width: auto;">
					  <img class="card-img-top" src="img/{{ .UUID }}" alt="Card image cap">
					  <img class="preview" src="img/{{ .Processed }}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">{{ .Name }}</h5>
					    <a href="/api/print?uuid={{ .Processed }}" class="btn btn-primary">print again</a>
					  </div>
					</div>
				</div>
			{{ else }}
				<div class="col-md-12">
					<span class="bi bi-tools h1"></span>
					<h4>No Prints jet :/</h4>
					<p>
						be the first!
					</p>
					<p>
						<a class="btn btn-primary" href="/" role="button">To the Form!</a>
					</p>
				</div>
			{{ end }}
			{{ if .NIsAllOrNIsFirst }}
				<div class="col-md-12 mt-3">
					<p>
					{{ if not .IsFirst }}
						<a class="btn btn-info" href="?offset={{ .OffsetMinusImages }}&limit={{ .Limit }}" role="button">< Previous Page < </a>
					{{ end }}
					{{ if not .IsAll }}
						<a class="btn btn-info" href="?offset={{ .OffsetPlusImages }}&limit={{ .Limit }}" role="button">> Next Page > </a>
					{{ end }}
					</p>
				</div>
			{{ end }}
		</div>

		<footer style="margin-top: 2em">
			Made with
			<i class="bi bi-heart-fill" style="color: red"></i> by Riley © 2024 &lt;riley (at) e926 (dot) de &gt;
		</footer>
	</div>
</body>

</html>

